<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc5a48F2FujL_WEBapMbn8ruBc-di8qe4</string>
	<key>GCM_SENDER_ID</key>
	<string>277864273650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-network-66e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-66e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277864273650:ios:719f35434a74d4f25c626b</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-66e3f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>